// Body
$body-bg: #E5E5E5;

// Typography
$font-family-sans-serif: 'Antonio', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

$obio-secondary: rgb(208, 151, 60);

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//////////////////////////////////////////////////////////////

$color-primary: #55c57a;
$color-primary-light: #F58220;
$color-primary-dark: #9b581d;

$color-secondary-light: #988675;
$color-secondary-dark: #463c3c;

$color-tertiary-light: #E4412B;
$color-tertiary-dark: #8d291c;

$color-cuatro-light: #FCB716;
$color-cuatro-dark: #85651c;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: rgba(0, 0, 0, 0.20);


//FONT
$default-font-size: 1.6rem;

// GRID TEST
$grid-width: 114rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 6rem;

$color-col: rgb(231, 64, 14);
