// Fonts
@import url('https://fonts.googleapis.com/css?family=Antonio');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-obio-secondary {
    background-color: $obio-secondary;
}

nav.navbar-light a.navbar-brand{
    color: #323E48;
}

.welcome{
    background: url('/assets/img/welcome.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
    margin: 0;
}



.transparente {
    background-color: transparent !important;
    box-shadow: none !important;

    font-weight: 700;

    & a:not(.navbar-brand){
        color: #FCAF1A !important;
    }
}

.opciones-welcome{
    width: 9rem;
    font-size: 1.7rem;
    font-weight: 600;

    & img{
        width: 100%;
        height: 100%;
    }
}

.logo-welcome{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); /*Con esto, el elemento se posicionará con respecto a su centro*/
}

.opc-conocenos{
    position: absolute;
    top: 52%;
    left: 32%;
    transform: translate(-50%, -50%); /*Con esto, el elemento se posicionará con respecto a su centro*/
    & a {
        color: white !important;
    }
}

.opc-tienda{
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%); /*Con esto, el elemento se posicionará con respecto a su centro*/
    & a {
        color: rgb(245, 130, 52);
    }
}

.opc-promociones{
    position: absolute;
    top: 52%;
    left: 68%;
    transform: translate(-50%, -50%); /*Con esto, el elemento se posicionará con respecto a su centro*/
    & a {
        color: rgb(255, 111, 74);
    }
}

.overlay-left,  .overlay-right,  .overlay-top,  .overlay-bottom   {
    background: #757B63 !important;
}


.subnav{

    & a{
        border-color: white;

        &:focus{
            box-shadow: 0 0 0 0.2rem rgb(117 123 99 / 50%) !important;
        }

        &:active{
            background-color: rgb(117, 123, 99) !important;
            border-color: whitesmoke !important;
        }

        &:hover{
            border-color: whitesmoke !important;
        }
    }

    & a:nth-child(odd){
        background-color: rgb(252, 175, 26);
    }

    & a:nth-child(even){
        background-color: rgb(189, 154, 95);
    }

    & a:last-child{
        background-color: rgb(117, 123, 99);
    }
}



.card{

    /*Alteran la manera en la que el rotate de transform se visualiza*/
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 30rem; //Las card__side al ser absolutas, salen del flujo normal, por lo que el padre (.card) debe tener una altura propia y no depender de la altura de card__side
    background-color: transparent;
    border-color: transparent;
    position: relative;
    color: white;

    &__side{

        //Características de las tarjetas (ya sea por enfrente o por atrás
        font-size: 1.7rem;
        position: absolute;
        height: 30rem;
        transition: all .6s ease;
        width: 100%;
        border-radius: 1rem;
        box-shadow: 0 1.5rem 4rem $color-black;
        backface-visibility: hidden;
        overflow: hidden; //Oculta las esquinas punteagudas de la imagen que se salen del card

        /*
        * card__side--front y card__side--back seran dos divs distintos
        * ambos deben ser absolute para que ocupen el mismo espacio
        * card__side--back deberá empezar volteado (transform: rotateY(180deg)) y cuando se haga el hover
        card__side--front deberá girar -180deg y card__side--back ahora deberá estar enfrente por lo que girará hasta
        0 (transform: rotateY(0))
        */

        &--front{
            background-color: $color-white;

            &-1{
                background: url('/assets/img/cat_cafe.png') no-repeat center;
                background-size: cover;
            }

            &-2{
                background: url('/assets/img/cat_miel.png') no-repeat center;
                background-size: cover;
            }

            &-3{
                background: url('/assets/img/cat_chocolate.png') no-repeat center;
                background-size: cover;
            }

            &-4{
                background: url('/assets/img/cat_maderas.png') no-repeat center;
                background-size: cover;
            }
        }

        &--back{

            transform: rotateY(180deg);

            &-1{
                background-image: linear-gradient(
                    to right bottom,
                    $color-primary-light,
                    $color-primary-dark);
            }

            &-2{
                background-image: linear-gradient(
                    to right bottom,
                    $color-secondary-light,
                    $color-secondary-dark);
            }

            &-3{
                background-image: linear-gradient(
                    to right bottom,
                    $color-tertiary-light,
                    $color-tertiary-dark);
            }

            &-4{
                background-image: linear-gradient(
                    to right bottom,
                    $color-cuatro-light,
                    $color-cuatro-dark);
            }
        }
    }

    &:hover &__side {
        &--front{
            transform: rotateY(-180deg);
        }

        &--back{
            transform: rotateY(0);
        }
    }

    //Contenido de la parte de atrás de la tarjeta
    &__cta{
        padding: 10% 9px;
    }
}
